/* 樣式類別選擇器 */
.banner {

    width: 100%;
    height: auto;
    background-image: url('Screenshot-3.png');
    margin: auto;
    background-color: #b4c5cabf;

}

/* 型態選擇器 */
header {

    height: 100pt;
    width: 100%;
    align-items: center;
    margin-bottom:18%;
    margin-top: 5%;
    




}

.bg {

    /* background-color:rgba(188, 244, 245, 0.466); */
    background: linear-gradient(to bottom, rgb(188, 244, 245), rgba(11, 143, 150, 0.267), rgba(188, 244, 245, 0.632), rgba(188, 244, 245, 0.459));
    /* background-color:linear-gradient(to bottom, rgba(188, 244, 245, 0.466),
    rgba(113, 230, 177, 0.6)); */
    width: 50%;
    border-radius: 10px 10px 10px 10px;

    height: auto;


    margin-left: auto;
    margin-right: auto;
    /* height: 300px; */
    /* align-items: center;  */
    /* background-size: 100% 100%; */

}

.bg p {

    background-size: 100% 100%;
    color: black;
    text-align: center;


}

header p {


    position: relative;
    font-size: 50pt;

}

nav {
    border-radius: 10px 10px 10px 10px;
    /* text-align: center; */
    background: linear-gradient(to bottom, rgba(170, 161, 200, 0.4),rgba(170, 161, 200, 0.4),rgba(170, 161, 200, 0.4), rgba(170, 161, 200, 0.4));
    height: 30pt;
    width: 100%;
    /* background: #aaa1c8; */
    color: black;
    border-width: 1px;
    border: solid rgba(137, 43, 226, 0.075);


    left:0;

}



footer {
    border-radius: 20px 20px 20px 20px;

    margin-left: auto;
    margin-right: auto;
    width: 10%;
    text-align: center;
    background: #AAA1C8;
    color: black;
}

main {
    margin-top: 30pt;
    border-radius: 20px 20px 20px 20px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(to bottom, rgba(180, 235, 202, 0.55), rgba(70, 151, 126, 0.683), rgba(22, 196, 199, 0.925));

    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    /* background: #b4ebca; */
    color: black;
}

article {
    border-radius: 20px 20px 20px 20px;

    padding-top:15px;
    padding-bottom:15px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

    text-align: center;
    background: #d9f2b497;
    color: black;


}

section {
    padding-top:15px;
    padding-bottom:15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #d3fac7b6;
    color: black;
    width: 95%;
}

table {
    display: table;
    background: #AFECE7;

    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* id選擇器 */
.form_type {
    margin-top:15pt;
    margin-bottom:15pt;


    /* align-items:center 上下的對齊方式 */
    align-items: center;
    /* justify-content:center 橫向左右對齊 */
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-style: oblique;
    font-weight: 400;

    border-style: solid;
    border-color: #A0CED9;

    background-color: #B4EBCA;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.bn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    font-style: oblique;
    font-weight: 900;
    border-radius: 30px 30px 30px 30px;

    border-style: solid;
    border-color: cornflowerblue;
    background: repeating-radial-gradient(circle, rgba(88, 105, 148, 0.454), rgba(33, 59, 125, 0.304) 30px, rgba(21, 58, 154, 0.409) 60px);
    /* background-color:#586994; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#a {
    text-shadow: 0.1em 0.1em 0.2em black;

}

/* div{
    width: 100pt;
    height: 50pt;
} */
.flex-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0pt;

    /* 沒list的點點 */
    list-style: none;

    /* height: 30pt;
    margin: 0px;
    padding-top: 10pt; */

}

.bb {
    text-align: left;
    width: 100%;

}

.cc {
    margin-left: 5pt;
    margin-right: 5pt;
    width: 100%;

    text-align: left;

}

.floatbox {
    text-align: center;
    width: 130px;
    height: 40px;
    padding: 0pt;

    border: 1px solid rgba(0, 0, 0, 0.53);
    /* margin-bottom: 20px;
    margin-top: -5px;
    float: left; */

    /* display:flex 伸縮盒 */
    display: flex;

    /* justify-content:center 橫向左右對齊 */
    justify-content: center;

    /* align-items:center 上下的對齊方式 */
    align-items: center;

    background: linear-gradient(to bottom, rgba(170, 161, 200, 0.4), rgba(170, 161, 200, 0.235), rgba(227, 226, 233, 0.4));
    /* margin-left: 0px; */
    float: left;
}
details{
    /* position: relative;
    top:10px;
    left: 0px; */
    background:  rgba(224, 223, 224, 0);
    width: 60%;
    color:rgb(12, 12, 12);
    margin-left:10%;
    border-radius: 10px 10px 10px 10px;
    /* text-align:center;
     */
     /* padding-left: 20px; */
     font-size: 10pt; 


}
