/* 樣式類別選擇器 */
.banner {

    width: 100%;
    height: 600px;
    background-image: linear-gradient(to bottom, rgba(174, 227, 207, 0.6),
            rgba(113, 230, 177, 0.6)), url("202106_jordy_type1_1920.png");
}


/* 型態選擇器 */
header {
    height: 5%;
    width: 100%;
    
    margin-top: 10pt;
    margin-bottom: 10pt;

    text-align: center;
    background: aqua;

    color: black;

}
nav {
    /* text-align: center; */
    
    height: 30pt;
    width: 100%;
    background: aquamarine;
    color: black;
    border-width: 5px;
    border:solid blueviolet;
    padding-bottom: 10pt;
}



footer {

    margin-left: auto;
    margin-right: auto;
    width: 10%;
    text-align: center;
    background: aquamarine;
    color: black;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    background: coral;
    color: black;
}

article {

    margin-left: auto;
    margin-right: auto;
    width: 95%;

    text-align: center;
    background: darkorange;
    color: black;

}

section {


    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: cornsilk;
    color: black;
    width: 95%;

}

table {
    display: table;
    background: cornflowerblue;

    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* id選擇器 */
#bn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    font-style: oblique;
    font-weight: 900;

    border-style:solid;
    border-color: cornflowerblue;

    background-color: #2121cb;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#a{
    text-shadow: 0.1em 0.1em 0.2em black;

}
/* div{
    width: 100pt;
    height: 50pt;
} */
.flex-nav {
    display: flex;
    justify-content: space-between;

}
#b{
    font-size: 30pt;
}
.bb{
    text-align:left;
    width: 100%;

}
