/* 樣式類別選擇器 */
.banner {

    width: 100%;
    height: auto;
   
    margin: auto;
    background-color: #fff;

}

/* 型態選擇器 */
header {

    height: 100%;
    width: 100%;
    align-items: center;





}

.bg {

    /* background-color:rgba(188, 244, 245, 0.466); */
    /* background: linear-gradient(to bottom, rgb(188, 244, 245), rgba(11, 143, 150, 0.267), rgba(188, 244, 245, 0.632), rgba(188, 244, 245, 0.459)); */
    /* background-color:linear-gradient(to bottom, rgba(188, 244, 245, 0.466),
    rgba(113, 230, 177, 0.6)); */
    width: 50%;
    border-radius: 10px 10px 10px 10px;

    height: auto;


    margin-left: auto;
    margin-right: auto;
    /* height: 300px; */
    /* align-items: center;  */
    /* background-size: 100% 100%; */

}

.bg p {

    background-size: 100% 100%;
    color: black;
    text-align: center;



}



#nav1 {

    background: linear-gradient(to bottom, rgb(163, 8, 0), rgb(163, 8, 0), rgb(163, 8, 0));
    height: 2.6666666667em;
    width: 100%;

}

#nav2 {
    background: linear-gradient(to bottom, rgb(163, 8, 0), rgb(163, 8, 0), rgb(163, 8, 0));

    height: 39pt;
    width: 100%;
    
    color: rgb(255, 255, 255);
    font-size: 25pt;
    position: absolute;
    text-align: center;
    bottom: -10px;
}


footer {
    border-radius: 20px 20px 20px 20px;

    margin-left: auto;
    margin-right: auto;
    width: 10%;
    text-align: center;
    background: #839e0d50;
    color: black;
}

main {
    margin-top: 30pt;
    border-radius: 20px 20px 20px 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(to bottom, rgba(180, 235, 202, 0.55), rgba(70, 151, 126, 0.683), rgba(22, 196, 199, 0.925));

    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    /* background: #b4ebca; */
    color: black;
}

article {
    border-radius: 20px 20px 20px 20px;

    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

    text-align: center;
    background: #d9f2b497;
    color: black;


}

/* section {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #d3fac7b6;
    color: black;
    width: 95%;
} */

table {
    display: table;
    background: #AFECE7;

    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* id選擇器 */
.form_type {
    margin-top: 15pt;
    margin-bottom: 15pt;


    /* align-items:center 上下的對齊方式 */
    align-items: center;
    /* justify-content:center 橫向左右對齊 */
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-style: oblique;
    font-weight: 400;

    border-style: solid;
    border-color: #A0CED9;

    background-color: #B4EBCA;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.bn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    font-style: oblique;
    font-weight: 900;
    border-radius: 30px 30px 30px 30px;

    border-style: solid;
    border-color: cornflowerblue;
    background: repeating-radial-gradient(circle, rgba(88, 105, 148, 0.454), rgba(33, 59, 125, 0.304) 30px, rgba(21, 58, 154, 0.409) 60px);
    /* background-color:#586994; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#a {
    text-shadow: 0.1em 0.1em 0.2em black;

}

/* div{
    width: 100pt;
    height: 50pt;
} */
.flex-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
    margin-bottom: 0px;
    padding-left: 0pt;

    /* 沒list的點點 */
    list-style: none;

    /* height: 30pt;
    margin: 0px;
    padding-top: 10pt; */

}

.bb {
    text-align: left;
    width: 100%;

}

.cc {
    margin-left: 5pt;
    margin-right: 5pt;
    width: 100%;

    text-align: left;

}
strong {
    display: block;
    font-weight: 900;
    font-size: 39px;
    line-height: 3em;
    text-align: center;

}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 30px;
    font-weight: 700;

    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
section {
   
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    line-height: 1.5;
    width: 90%;
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.floatbox {
    text-align: center;
    width: 130px;
    height: 40px;
    padding: 0pt;

    /* border: 3px solid rgba(152, 26, 210, 0.53); */
    /* margin-bottom: 20px;
    margin-top: -5px;
    float: left; */

    /* display:flex 伸縮盒 */
    display: flex;

    /* justify-content:center 橫向左右對齊 */
    justify-content: center;

    /* align-items:center 上下的對齊方式 */
    align-items: center;

    /* background: linear-gradient(to bottom, rgba(170, 161, 200, 0.4), rgba(170, 161, 200, 0.235), rgba(227, 226, 233, 0.4)); */
    /* margin-left: 0px; */
    float: left;
}

details {
    /* position: relative;
    top:10px;
    left: 0px; */
    background: rgba(224, 223, 224, 0);
    width: 60%;
    color: rgb(12, 12, 12);
    margin-left: 5%;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    /* text-align:center;
     */
    /* padding-left: 20px; */



}

#container {
    background-image: url("17521117-65f3748b31d05035.png");

    background: linear-gradient(bottom, #ffffff, rgba(51, 51, 51, 0.05)), url("17521117-65f3748b31d05035.png") center bottom no-repeat;
    background: -moz-linear-gradient(bottom, #ffffff, rgba(51, 51, 51, 0.062)), url("17521117-65f3748b31d05035.png") center bottom no-repeat;
    background: -webkit-linear-gradient(bottom, #ffffff, rgba(51, 51, 51, 0.087)), url("17521117-65f3748b31d05035.png") center bottom no-repeat;
}
