/* �˦����O��ܾ� */
.banner {

    width: 100%;
    height: auto;
    /* background-image: url('7.jpeg'); */
    margin: auto;
    background-color: #fff;
    background-image: url('Screenshot-3.png');


}

/* ���A��ܾ� */


.big_title {
    color: black;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: -.5px;

    margin-top: 90px;
    line-height: 1.25em;

    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
}

.describe {
    color: black;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: -.5px;
    margin-top: 5px;
    line-height: 1.25em;

    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;

}

.artical_title {
    color: black;
    font-size: 2.44140625em;
    font-weight: 900;
    letter-spacing: -.5px;

    margin-top: 90px;
    line-height: 1.25em;

    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
}

.artical_describe {
    color: black;
    width: 70%;
    font-size: 1.5625em;
    font-weight: 900;
    line-height: 1.25em;

    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
}

.small_title {
    color: black;
    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: -.5px;

    margin-top: 30px;
    line-height: 1.25em;

    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.bg {

    /* background-color:rgba(188, 244, 245, 0.466); */
    /* background: linear-gradient(to bottom, rgb(188, 244, 245), rgba(11, 143, 150, 0.267), rgba(188, 244, 245, 0.632), rgba(188, 244, 245, 0.459)); */
    /* background-color:linear-gradient(to bottom, rgba(188, 244, 245, 0.466),
    rgba(113, 230, 177, 0.6)); */
    width: 50%;
    border-radius: 10px 10px 10px 10px;

    height: auto;


    margin-left: auto;
    margin-right: auto;
    /* height: 300px; */
    /* align-items: center;  */
    /* background-size: 100% 100%; */

}








main {
    /* margin-top: 30pt; */
    border-radius: 20px 20px 20px 20px;
    /* padding-top: 15px; */
    padding-bottom: 15px;
    /* border-radius: 20px 20px 20px 20px; */
    /* background: linear-gradient(to bottom, rgba(180, 235, 202, 0.55), rgba(70, 151, 126, 0.683), rgba(22, 196, 199, 0.925)); */

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* text-align: center; */
    /* background: #b4ebca; */
    /* color: black; */
}



table {
    display: table;
    background: #AFECE7;

    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* id��ܾ� */
















